@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    background-color: #f0f0f0;
}

.section {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff; 
}

.left-content{
    background-image: url("images/bg-main-desktop.png");
    height: 100vh;
    width: 400px;
}

.right-content {
    width: 35%;
    display: flex;
    align-items: center;
    margin-left: px;
}

.form {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-right: 80px;
}

.form input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
}


.dates {
    display: flex;
    gap: 10px;
}

.btn {
    width: 100%;
    margin-top: 14px;
    padding: 10px;
    color: white;
    background-color: hsl(278, 68%, 11%);
    border-radius: 5px;
    border: none; 
    cursor: pointer; 
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards{
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: px;
    top: 120px;
    left:250px;
    bottom: 78px;
    color: #fff;
}

.card-1{
    position: relative;
    padding: 20px;
    right: 7rem;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    background-image: url("images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-details{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom{
    display:flex ;
    justify-content: space-between;
}
.bottom span input{
    width: 30px;
}

.card-details input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::placeholder{
    font-family: inherit;
    color: white;
}

.card-2{
    position: relative;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    background-image: url("images/bg-card-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card-2 span{
    margin-top: 10px;
    margin-left: 270px;
}

.hide{
      display: flex;
    flex-direction: column;
    gap: 13px;
    display: none;
}
.ending{
    position: absolute;
    top: 200px;
    left: 56.5pc;
    width: 26%;
    gap: 15px;
    text-align: center;
    display: none;
    line-height: 40px;
}

.alert,.alert1,.alert2,.alert3{
    color: red;
    display: none;
}